<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Users Registration</h5>
                </div>
              
                <div class="ibox-content">    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-4">
                            <input type="text" name="Name" id="Name" placeholder="Name" class="form-control" required="" 
                            value="{{ isset($user->Name)?$user->Name:'' }}">
                            </div>
                    </div>
                    
                    <div class="form-group">
                    <label class="col-sm-2 control-label">Last Name</label>
                        <input type="text" name="lastname" id="lastname" placeholder="Last Name" class="form-control" required=""
                        value="{{ isset($user->lastname)?$user->lastname:'' }}">
                    </div>


                    <!--
                    <label for="ApellidoMaterno">{{'Apellido Materno'}}</label>
                    <input type="text" name="ApellidoMaterno" id="ApellidoMaterno" 

                    value="{{ isset($user->ApellidoMaterno)?$user->ApellidoMaterno:'' }}"
                    >
                    <br/>-->

                    <div class="form-group">
                        <input type="email" name="Email" id="Email" placeholder="Email" class="form-control" required=""

                        value="{{ isset($user->Email)?$user->Email:'' }}">
                    </div>


                    <label for="photo">{{'Photo'}}</label>
                    @if(isset($user->photo))
                    <br>
                    <img src="{{ asset('storage').'/'.$user->photo }}" alt="" width="100">
                    <br>
                    @endif
                    <input type="file" name="photo" id="photo" value="{{ isset($user->photo)?$user->photo:'' }}">
                    <br>

                    <div class="form-group">
                        <input type="password" name="password" id="password" placeholder="Password" class="form-control" required=""

                        value="{{ isset($user->password)?$user->password:'' }}">
                    </div>

                    <div class="form-group">
                        <input type="text" name="aboutme" id="aboutme" placeholder="About me" class="form-control" required=""
                        value="{{ isset($user->aboutme)?$user->aboutme:'' }}"
                        >
                    </div>

                    <div class="form-group">
                        <input type="text" name="zipcode" id="zipcode" placeholder="Zip Code" class="form-control" required=""
                        value="{{ isset($user->zipcode)?$user->zipcode:'' }}">
                    </div>
                        
                    <div class="form-group">
                        <input type="text" name="licensenumber" id="licensenumber" placeholder="License Number" class="form-control" required=""
                        value="{{ isset($user->licensenumber)?$user->licensenumber:'' }}">
                    </div>

                    <div class="form-group">
                        <input type="text" name="userrole" id="userrole" placeholder="User Role" class="form-control" required=""
                        value="{{ isset($user->userrole)?$user->userrole:'' }}">
                    </div>
                    <div class="col-md-offset-4 col-md-7">
                        <input type="submit" class="btn btn-primary" value="{{ $Modo=='create' ? 'Add User':'Update User' }}"> 
                        <a href="{{ url('users') }}" class="btn btn-default">Back</a>
                    </div>
                </div>
            </div>     
        </div>
    </div>
</div>
    
    